# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/

# Virtual env
.venv/
env/
venv/

# Build
dist/
build/

# Editor
.vscode/
.idea/

# STM32 / CubeIDE build
**/Debug/
**/Release/
*.o
*.d
*.su
*.cyclo
*.elf
*.bin
*.hex
*.map
*.list